* {
    margin: 0px;
    padding: 0px;
}

.simon {
    position: relative;
}

#green {
    position: absolute;
    display: inline-block;
    width: 0px;
    height: 0px;
    line-height: 0px;
    border: 182px solid;
    border-color:#0b7000;
    opacity: 0.7;
    border-right: none;
    border-bottom: none;
    border-top-left-radius: 182px;
    left: 32px;
    top: 32px;
}

#red {
    position: absolute;
    display: inline-block;
    width: 0px;
    height: 0px;
    line-height: 0px;
    border: 182px solid;
    border-color: #c30800;
    opacity: 0.7;
    border-bottom: none;
    border-left: none;
    border-top-right-radius: 182px;
    left: 235px;
    top: 32px;
}

#yellow {
    position: absolute;
    display: inline-block;
    width: 0px;
    height: 0px;
    line-height: 0px;
    border: 182px solid;
    border-color: #c3b400;
    opacity: 0.7;
    border-top: none;
    border-left: none;
    border-bottom-right-radius: 182px;
    left: 235px;
    top: 235px;
}

#blue {
    position: absolute;
    display: inline-block;
    width: 0px;
    height: 0px;
    line-height: 0px;
    border: 182px solid;
    border-color: #196d85;
    opacity: 0.7;
    border-top: none;
    border-left: none;
    border-bottom-left-radius: 182px;
    left: 32px;
    top: 235px;
}

#controls {
    position: absolute;
    border-radius: 50%;
    background-color: gray;
    display: inline-block;
    width: 200px;
    height: 200px;
    top: 125px;
    left: 125px;
}

.container {
    position: absolute;
    margin-left: -225px;
    margin-top: -225px;
    left: 50%;
    top: 50%;
    width: 450px;
    height: 450px;
    background-color: black;
}

#count {
    width: 100px;
    text-align: center;
    border-radius: 10%;
    font-size: 21px;
    position: absolute;
    top: 25%;
    left: 25%;
    display: inline-block;
    border: 2px solid black;
}

#strict {
    font-size: 18px;
    position: absolute;
    top: 50%;
    left: 25%;
    display: inline-block;
}

#strictButton {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    display: block;
    margin: 0 auto;
}

#restart {
    font-size: 18px;
    position: absolute;
    top: 50%;
    left: 55%;
    display: inline-block;
}

#restartButton {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    display: block;
    margin: 0 auto;
}

/* Button highlight on click */
#green:hover, #red:hover, #blue:hover, #yellow:hover, button:hover  {
    cursor: pointer;
}

#green:active, #red:active, #blue:active, #yellow:active {
    opacity: 1;
}
